@charset 'utf-8';
$countPerpage:20;
$designWidth:1080px;
@function R($px) {
    @return ($px*$countPerpage/$designWidth)*1rem;
}

div {
    background: #FFFFFF;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: R(164px);
    line-height: R(164px);
    border-bottom: 1px solid #ccc;
    background: #FFFFFF;
    display: flex;
    font-size: R(80px);
    flex-direction: row;
    justify-content: space-between;
    img {
        width: R(50px);
        height: R(70px);
        margin: R(50px);
    }
}

img {
    width: R(420px);
    height: R(420px);
    margin-top: R(625px);
    margin-left: R(328px);
}

.xin {
    overflow-y: auto;
    flex: 1;
    #cartlist {
         margin-bottom:R(150px) ;
        .list {
            border-bottom: 2px solid #e0e0e0;
            height: R(291px);
            display: flex;
            flex-direction: row;
            .l {
                width: R(400px);
                height: R(291px);
                img {
                    margin: R(24px);
                    width: R(360px);
                    height: R(240px);
                }
            }
            .r {
                //              position: relative;
                flex: 1;
                box-sizing: border-box;
                padding-left: R(50px);
                display: flex;
                flex-direction: row;
                div.xinxi {
                    width: R(500px);
                    height: 100%;
//                  background: green;
                    h4 {
                        font-weight: 500;
                        font-size: R(50px);
                    }
                    li {
                        color: #999;
                        font-size: R(50px);
                    }
                }
                div.cao {
                    margin-right: R(20px);
                    text-align: center;
                    height: 100%;
                    flex: 1;
//                  background: blue;
                    display: flex;
                    flex-direction: column;
                    
                    li.jia {
//                      border-radius: 50%;
                        border: 1px solid #ccc;
                        float: left;
                        height: R(100px);
//                      background: red;
//                      margin-top: R(-30px);
                    }
                    li.sanchu {
//                      border: 1px solid #ccc;
                        
                        flex: 1;
                    }
                    li.jian {
//                      border-radius: 50%;
                        border: 1px solid #ccc;
                        float: left;
                        margin-top: 10px;
                        height: R(100px);
                       
//                      background: pink;
                    }
                }
            }
        }
    }
}

.zongjia {
    width: 100%;
    position: fixed;
    bottom: 0;
   
    text-indent: 2em;
    display: flex;
    flex-direction: row;
    height: R(150px);
    background: red;
    line-height: R(150px);
    color: white;
    span:nth-of-type(1) {}
}