$countPerpage:20;
$designWidth:1080px;
@function R($px) {
    @return ($px*$countPerpage/$designWidth)*1rem;
}

div {
    background: #FFFFFF;
    height: 100%;
    display: flex;
    flex-direction: column;
   
    
}

.header {
    width: 100%;
    height: R(164px);
    line-height: R(164px);
    border-bottom: 1px solid #ccc;
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    img {
        width: R(50px);
        height: R(70px);
        margin: R(50px);
    }
}

img {
    width: R(420px);
    height: R(420px);
    margin-top: R(625px);
    margin-left: R(328px);
}

.xin {
    overflow-y: auto;
    flex: 1;  
    
    #cartlist {
        
        .list {
            border-bottom: 3px solid #e0e0e0;
            height: R(291px);
            display: flex;
            flex-direction: row;
            
            .l {
                width: R(400px);
                height: R(291px);
                img {
                    margin: R(24px);
                    width: R(360px);
                    height: R(240px);
                }
            }
            .r {
                flex: 1;
                box-sizing: border-box;
                padding-left: R(50px);
                li {
                    color: #999;
                    font-size: R(50px);
                }
            }
        }
    }
}

.zongjia{
    display: flex;
    flex-direction: row;
    height: R(150px);
    background: red;
    line-height: R(150px);
    span:nth-of-type(1){}
}
